
<td width="75%"><span style="line-height: 3;">{{burger_name}}</span></td>

<td width="25%">
<button class="change-devoured btn btn-sm btn-secondary" data-id="{{id}}" data-devoured="{{devoured}}">
	{{#if devoured}}Eat!{{else}}Make Another!{{/if}}
</button>
</td>

